footer {
    background: $white3;
    height: 392px;
    padding: 0 63px;

    hr {
        margin: 0 0 70px 0;
        opacity: 0.3;
    }

    .container1 {
        position: relative;
    }
}

.cont-table-auth {
    display: flex;
    height: 220px;
}

.footer-table {
    color: $blue1;
    display: flex;
    justify-content: space-between;
    width: 640px;

    ul {
        list-style: none;
        min-width: 82px;
        padding-right: 10px;
    }
}

.footer-auth {
    height: 118px;
    width: 466px;

    > div {
        float: right;

        span {
            color: $blue2;
            cursor: pointer;
            font-size: 18px;
            line-height: 50px;
            margin-right: 53px;
            padding-left: 15px;

            transition: color 0.2s ease;

            &:hover {
                color: darken($color: $blue2, $amount: 20);
            }
        }
    }

    button {
        height: 50px;
        width: 205px;
    }
}

.thead {
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    padding-bottom: 26px;
}

.tbody {
    cursor: pointer;
    font-size: 14px;
    line-height: 13px;
    padding-bottom: 16px;

    transition: color 0.2s ease;

    &:hover {
        color: darken($color: $blue1, $amount: 20);
    }
}


/* foot */

.foot {
    display: flex;
    height: 31px;
    width: 100%;

    span {
        color: $blue1;
        float: left;
        font-size: 14px;
        line-height: 13px;
        margin-right: 10px;
    }

    a {
        text-decoration: none;
    }
}

.legals-cont {
    align-items: center;
    display: flex;
    width: 50%;

    >div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        width: 255px;
    }
}

.social-cont {
    align-items: center;
    display: grid;
    width: 50%;
}

.social {
    align-items: center;
    float: right;
    display: flex;
    justify-content: space-between;
    width: 273px;

        a img {
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.1);
            }
    
            &:active {
                transform: scale(0.9);
            }
        }

    a:nth-of-type(n+2) {
        display: inline-block;
        // margin-left: 37px;
    }

    a:first-of-type, a:nth-of-type(4), a:nth-of-type(5) {
        width: 22px;
        height: 22px;
    }

    a:nth-of-type(2) {
        width: 22px;
        height: 18px;
    }

    a:nth-of-type(3) {
        width: 26px;
        height: 18px;
    }

}

footer .container1 > img {
    position: absolute;
    bottom: 0px;
    left: 48%;
}


/* Estilos dispositivos Res: 320px - 768px */

@media (max-width: 768px) {

    footer {
        background: $white3;
        height: 411px;
    
        hr {
            display: none;
        }
    }

    .cont-table-auth {
        flex-direction: column;
        height: unset;
    }

    .footer-table {
        padding: 0 0 98px 0;
        width: unset;
    }

    .footer-auth {
        height: 105px;
        width: unset;
    
        > div {
            float: right;
        }
    }

    footer .container1 > img {
        bottom: 96px;
        left: 0;
    }

    

}