
section.getahead {
    position: relative;

    h2 {
        width: 260px;
        height: 90px;
        margin-bottom: 20px;
    }

    > img {
        position: absolute;
        top: -53px;
    }

    .gacont {
        max-width: 450px;
        min-width: 283px;
        padding: 135px 10px 0 720px;
    }
}

.gadata {
    padding-top: 175px;

    h4 {
        font-size: 24px;
        line-height: 43px;
        color: $blue1;
        margin-bottom: 15px;
    }
}

.cells {
    display: flex;
    justify-content: center;
}

.unit {
    border: 1px solid #C6C9D2;
    border-radius: 6px;
    cursor: default;
    margin: 0 12px 60px 12px;
    width: 243px;

    transition: transform 0.8s ease;

    &:hover {
        transform: scale(1.1);
    }
}

.cell {
    align-items: center;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    height: 130px;
}

.cell-img {
    display: grid;
    justify-items: center;
}

.cell-info {
    display: grid;

    span {
        color: $blue1;
    }

    span:first-child {
        font-size: 40px;
        font-weight: bold;
    }
    
    span:last-child {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.under-0, .under-1, .under-2, .under-3 {
    border-radius: 0px 0px 6px 6px;
    height: 9px;
}

.under-0 {
    background: $blue2;
}

.under-1 {
    background: $blue3;
}

.under-2 {
    background: $blue4;
}

.under-3 {
    background: $blue5;
}


@media only screen and (max-width: 1012px) {

    .cells {
        flex-wrap: wrap;
    }

}

@media only screen and (min-width: 769px) and (max-width: 1012px) {

    section.getahead {

        > img {
            display: block;
            position: unset;
            margin: auto;
            max-width: 636px;
        }

        .gacont {
            margin: auto;
            padding: 64px 0 0 0;
            text-align: center;
            width: 507px;
            
            h2 {
                width: unset;
                height: 48px;
                margin: 0 auto 20px auto;   
            }
        }
    }

    .gadata {
        padding-top: 0;
    }
}

/* Estilos dispositivos Res: 321px - 768px */

@media only screen and (max-width: 768px) {

    section.getahead {

        > img {
            display: block;
            height: 69vw;
            position: unset;
            margin: auto;
            max-width: 636px;
            width: 86vw;
        }

        .gacont {
            margin: auto;
            padding: 64px 0 70px 0;
            max-width: 507px;
            text-align: center;
            
            h2 {
                width: unset;
                height: unset;
                margin: 0 auto 20px auto;   
            }
        }
    }

    .gadata {
        padding-top: 5px;
        margin: auto;
        max-width: 636px;
    }

    .unit {
        width: 298px;
    }

    .under-0, .under-1, .under-2, .under-3  {
        height: 18px;
    }

}


/* Estilos dispositivos Res: MAx 320px */

@media only screen and (max-width: 320px) {
    
    section.getahead {
        height: 1244px;

        > img {
            height: 231px;
            left: 10px;
            position: absolute;
            top: -46px;
            width: 301px;
        }

        .gacont {
            margin: auto;
            padding: 210px 0 0 0;
            text-align: center;
            width: 100%;
    
            h2 {
                font-size: 28px;
                height: 48px;
                margin: 0 auto 20px auto;   
                width: 310px;
            }
    
            .p1 {
                display: block;
                font-size: 14px;
                line-height: 20px;
                margin: auto;
                width: 300px;
            }
        }
    }

    .gadata {
        height: 448px;
        margin: auto;
        padding-top: 5px;
        width: 300px;

        h4 {
            color: $blue1;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 18px;
        }
    }

    .cells {
        flex-wrap: wrap;
        height: 632px;
    }

    .unit {
        margin-bottom: 20px!important;
    
        &:last-child {
            margin-bottom: 0;
        }
    }
    
}

