
section.getahead {
    height: 883px;
    position: relative;

    h2 {
        width: 260px;
        height: 90px;
        margin-bottom: 20px;
    }

    > img {
        position: absolute;
        top: -53px;
    }

    div.gacont {
        height: 255px;
        max-width: 450px;
        min-width: 283px;
        padding: 135px 10px 0 720px;
    }
}

div.gadata {
    height: 318px;
    padding-top: 175px;

    h4 {
        font-size: 24px;
        line-height: 43px;
        color: $blue1;
        margin-bottom: 15px;
    }
}

div.cells {
    display: flex;
    justify-content: space-between;
}

div.unit {
    border: 1px solid #C6C9D2;
    border-radius: 6px;
    cursor: default;
    width: 243px;

    transition: transform 0.8s ease;

    &:hover {
        transform: scale(1.1);
    }
}

div.unit:nth-child(-n+3) {
    margin-right: 5px;
}

div.cell {
    align-items: center;
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    height: 130px;
}

div.cell-img {
    display: grid;
    justify-items: center;
}
div.cell-info {
    display: grid;

    span {
        color: $blue1;
    }

    span:first-child {
        font-size: 40px;
        font-weight: bold;
    }
    
    span:last-child {
        font-size: 16px;
        text-transform: uppercase;
    }
}

div.under-0, div.under-1, div.under-2, div.under-3 {
    border-radius: 0px 0px 6px 6px;
    height: 9px;
}

div.under-0 {
    background: $blue2;
}

div.under-1 {
    background: $blue3;
}

div.under-2 {
    background: $blue4;
}

div.under-3 {
    background: $blue5;
}

@media (max-width: 1012px) {

    section.getahead {
        height: 1060px;

        div.gacont {
            margin: auto;
            padding: 478px 0 0 0;
            text-align: center;
            width: 507px;
            
            h2 {
                width: unset;
                height: 48px;
                margin: 0 auto 20px auto;   
            }
        }
    }

    div.gadata {
        height: 318px;
        padding-top: 0;
    }
}


/* Estilos dispositivos Res: 320px - 768px */

@media (max-width: 768px) {

    section.getahead {
        height: 1266px;

        > img {
            height: 488px;
            left: 66px;
            position: absolute;
            top: -70px;
            width: 636px;
        }

        div.gacont {
            margin: auto;
            padding: 478px 0 0 0;
            text-align: center;
            width: 507px;
            
            h2 {
                width: unset;
                height: 48px;
                margin: 0 auto 20px auto;   
            }
        }
    }

    div.gadata {
        height: 448px;
        padding-top: 5px;
        margin: auto;
        width: 636px;
    }

    div.cells {
        flex-wrap: wrap;
    }

    div.unit {
        width: 298px;

        &:nth-child(-n+2) {
            margin-bottom: 60px;
        }

        &:nth-child(-n+3) {
            margin-right: 0;
        }
    }

    .under-0, .under-1, .under-2, .under-3  {
        height: 18px;
    }

}