
header {
    background-image: url('../../assets/Photo_above_the_fold.png');
    background-size: cover;
    height: 680px;
    width: 100%;
}

.headcont {
    padding: 200px 0 0 180px;
    width: 518px;

    h1 {
        margin-bottom: 22px;
    }

    h1::first-line {
        color: $blue2;
    }

    p {
        color: $white;
        height: 123px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 42px;
    }

    button.general {
        height: 50px;
        width: 205px;
    }
}




