
header {
    background-image: url('../../assets/Photo_above_the_fold.png');
    background-size: cover;
    height: 680px;
    width: 100%;
}

.headcont {
    padding: 200px 0 0 180px;
    width: 518px;

    h1 {
        margin-bottom: 22px;
    }

    h1::first-line {
        color: $blue2;
    }

    p {
        color: $white;
        height: 123px;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 42px;
    }

    button.general {
        height: 50px;
        width: 205px;
    }
}


/* Estilos dispositivos Res: 320px - 768px */

@media only screen and (max-width: 768px) {

    header {
        height: 718px;
        background-position: 94% 100%;
    }

    .headcont {
        padding: 200px 0 0 62px;
    }

    .headcont p {
        padding-left: 6px;
    }
}


/* Estilos dispositivos Res: MAx 320px */

@media only screen and (max-width: 320px) {
    
    header {
        height: 580px;
        background-position: 44% 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .headcont {
        margin: auto;
        padding: 96px 0 0 0;
        text-align: center;
        width: 290px;

        h1 {
            font-size: 40px;
            height: 130px;
            line-height: 45px;
            margin-bottom: 30px;
            width: 100%;
        }

        p {
            display: block;
            font-size: 15px;
            height: 150px;
            line-height: 18px;
            margin: 0 auto 20px auto;
            padding-left: 6px;
            width: 284px;
        }
        
        button.general {
            font-size: 16px;
            height: 40px;
            line-height: 19px;
            width: 100%;
        }
    }

    .headbut {
        height: 40px;
        font-size: 16px;
        line-height: 19px;
        width: 100%;
    }
}


