section.learnfrom {
    background-color: $white;
    height: 853px;
    padding-top: 130px;

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .p1 {
        margin: 0 auto 50px auto;
        text-align: center;
        width: 517px;
    }
}

// Slider

.slide {
    margin: 0 auto 50px auto;
    max-width: 1129px;
}

.cont {
    box-sizing: border-box;
    display: flex;
    height: 550px;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 30px 0 30px;
    width: 100%;
}

.card-slider {
    border: 1px solid rgba(198, 201, 210, 0.387183);
    border-radius: 6px;
    box-shadow: 0px 1px 4px $white2;
    box-sizing: border-box;
    height: 496px;
    max-width: 335px;
    min-width: 250px;
    transition: all 0.3s linear;
    transform: scale(1);
}

.slide h3 {
    color: $blue1;
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 3px;
    padding: 32px 0 0 30px;
}

.slide span:first-of-type {
    display: block;
    color: $blue1;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 64px;
    padding-left: 30px;
}

.slide span:last-of-type {
    color: $blue2;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    padding-left: 30px;
}

.slide .img {
    align-items: center;
    display: grid;
    height: 178px;
    margin: 0 auto 68px auto;
    width: 215px;
}

.slide img {
    display: block;
    margin: auto;
}

.pass {
    width: 124px;
    margin: auto;
}

.pass img {
    cursor: pointer;
}

.btnld {
    margin-right: 35px;
}

.btnld:active, .btnrd:active {
    transform: scale(0.9);

    transition: transform 0.1s linear;
}

.btnld:hover, .btnrd:hover {
    -webkit-filter: contrast(2.8);
            filter: contrast(2.8);
}


// toggle

@media only screen and (min-width: 769px) {
    
    .slide-selected {
        box-shadow: 0px 2px 20px $white2!important;
        transform: scale(1.02)!important;
    }
}

@media only screen and (max-width: 768px) {
    
    .show-none-card {
        display: none;
    }
    
    .show-block-card {
        display: block!important;
    }
}


/* Estilos dispositivos Res: 320px - 768px */

@media only screen and (max-width: 768px) {

    section.learnfrom .p1 {
        width: 508px;
    }

    .slide {
        height: 496px;
        margin-bottom: 70px;
        width: 382px;
    }
    
    .cont {
        margin: auto;
        position: relative;
        width: 382px;
    }
    
    .slide .card-slider {
        box-shadow: 0px 1px 4px $white2 !important;
        display: none;
        height: 496px;
        left: 23px;
        position: absolute;
        top: 26px;
        transform: none !important;
        transition: none;
        width: 335px;
    }

    .btnld {
        margin-right: 35px;
    }

}


/* Estilos dispositivos Res: MAx 320px */

@media only screen and (max-width: 320px) {
    
    section.learnfrom {
        padding-top: 90px;

        h2 {
            width: 300px;
            font-size: 28px;
            line-height: 28px;
        }

        .p1 {
            width: 298px;
            font-size: 14px;
            margin: 0 auto 30px auto;
        }
    }

    .slide {
        width: 320px;
        height: 500px;
        margin: 0 auto 58px auto;
    }

    .slide .cont {
        width: 100%;
    }

    .slide .card-slider {
        width: 300px;
        height: 492px;
        left: 10px;
    }
      
}