
section.getcare {
    align-items: center;
    background-image: url('./../../assets/blake-unsplash.png');
    display: flex;
    justify-content: center;
    height: 1250px;
    width: 100%;
}

.form-box {
    border: 1px solid rgba(198, 201, 210, 0.387183);
    border-radius: 6px;
    background: $white;
    height: 738px;
    width: 701px;
}

.info-cont {
    margin: auto;
    width: 582px;

    h2 {
        padding: 44px 0 10px 0;
        text-align: center;
        text-transform: capitalize;
    }

    > div > span {
        color: $blue1;
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin: auto;
        padding-bottom: 52px;
        text-align: center;
        width: 452px;
    }
}

.form-info span {
    color: $blue1;
    display: block;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 12px;
    text-transform: capitalize;
    width: 100%;
}

.reg-cont {
    float: left;
    width: 274px;
}

.reg-cont:nth-child(3), .reg-cont:nth-child(4) {
    width: 100%;
}

.reg-cont:nth-child(1), .reg-cont:nth-child(5) {
    margin-right: 33px;
}

.form-info input {
    border: 1px solid #989ca64d;
    border-radius: 6px;
    box-sizing: border-box;
    color: #82858E;
    font-size: 16px;
    height: 50px;
    line-height: 28px;
    letter-spacing: 0.494018px;
    margin-bottom: 25px;
    mix-blend-mode: normal;
    padding-left: 10px;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.form-info button {
    margin-top: 15px;
}


/* Estilos dispositivos Res: 320px - 768px */

@media only screen and (max-width: 768px) {

    .form-box {
        height: 952px;
        width: 644px;
    }

    .info-cont {
        width: 516px;

        h2 {
            padding-top: 52px;
        }
    }

    .reg-cont {
        float: left;
        margin: 0;
        width: 100%;
    }

    .form-info button {
        width: 100%;
    }
}


/* Estilos dispositivos Res: MAx 320px */

@media only screen and (max-width: 320px) {
    
    .form-box {
        height: 974px;
        width: 290px;
    }

    .info-cont {
        width: 249px;

        h2 {
            font-size: 28px;
            line-height: 33px;
            padding-top: 50px;
        }

        > div > span {
            font-size: 14px;
            padding-bottom: 40px;
            width: 242px;
        }
    }
}