
section.seewhere {
    background-color: $white3;
    height: 404px;
    padding-top: 130px;

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
    
    .p2 {
        margin-bottom: 27px;
    }
    
    > div > span {
        font-size: 14px;
        line-height: 32px;
        display: inline-block;
        text-transform: capitalize;
        color: $blue1;
        margin: 0 0 5px 80px;
    }
}

.industry-select {
    align-items: center;
    background: $white;
    border: 1px solid $white2;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    display: grid;
    grid-template-columns: 55px 1fr 44px;
    height: 50px;
    margin: auto;
    position: relative;
    width: 531px;
}

.divhouse, .divrow {
    display: grid;
    justify-content: center;
}

.divselect {
    color: $white2;
    font-size: 14px;
    padding: 16px 0;
}

.divrow {
    padding: 20px;
}

.divrow img {
    transform: rotateZ(-90deg);
    transition: transform 0.3s linear;
}

.select-plegable {
    background-color: $white;
    height: 0;
    left: -1px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    top: 49px;
    width: 531px;
    z-index: 1;

    transition: height 0.5s ease;
}

.selectlist {
    align-items: center;
    border: 1px solid $white2;
    border-top: none;
    box-sizing: border-box;
    color: $blue1;
    cursor: pointer;
    display: grid;
    font-size: 14px;
    height: 50px;
    padding-left: 55px;

    &:hover {
        box-shadow: inset 0px 0px 71px -28px rgba(0,0,0,0.13);
    }
}

#inputIndustry {
    border: unset;
    padding: 10px;
    width: 200px;

    &:focus {
        outline: none;
    }
}

.selectlist:first-child {
    padding-left: 45px;
}

.selectlist:first-child > div {
    display: flex;
    justify-content: space-between;
}

.selectlist:first-child > div > img {
    padding: 4px 15px 0 0;
}


// toggle classes

.show-select {
    height: 350px;
}

.row-rotate-select {
    transform: rotateZ(0deg)!important;
}

.border-select {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.select-selected {
    color: $blue1!important;
}


/* Estilos dispositivos Res: 320px - 768px */

@media only screen and (max-width: 768px) {

    section.seewhere .p2 {
        padding: 0 10px;
    }

}


/* Estilos dispositivos Res: MAx 320px */

@media only screen and (max-width: 320px) {
    
    section.seewhere {
        height: 342px;
        padding-top: 100px;

        h2 {
            font-size: 28px;
            line-height: 33px;
            margin-bottom: 20px;
            text-align: center;
        }

        .p2 {
            width: 299px;
            display: block;
            font-size: 14px;
            line-height: 16px;
            margin: 0 auto 40px auto;
        }

        > div > span {
            text-align: left;
            margin: 0 0 5px 10px;
        }
    }

    .industry-select {
        width: 300px;
        margin: auto;
    }

    .select-plegable {
        width: 300px;
    }
    
}
