section.seewherevideo {
    height: 912px;
    background-color: $white;
    
    h2 {
        margin-bottom: 20px;
        padding-top: 100px;
        text-align: center;
    }
    
    .p2 {
        margin-bottom: 70px;
    }
}

