button.general {
    background-color: $blue2;
    border: none;
    border-radius: 6px;
    color: $white;
    cursor: pointer;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;

    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken($color: $blue2, $amount: 10);
    }

    &:focus {
        outline: none;
    }

    &:active {
        background-color: darken($color: $blue2, $amount: 40);
        transform: scale(0.95);
    }
}